:root {
    --blanco: #FFFFFF;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;


    --fuente-principal: 3.8rem;
}

html {
    font-size: 62.5%;
}

body {
    /*Se aplican ajustes generales a todo el documento*/
    font-size: 16px;
    /*1 rem = 10 px. Se adapta a diferentes dispositivos*/
    font-family: "Krub", sans-serif;
}

.titulo {
    text-align: center;
    font-size: 3.8rem;

}

.titulo span {
    font-size: 2rem;
    color: red;
}